html{
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#background{
    height: 100%;
    width: 100%;
    background:url('../images/landlordBkg.png') no-repeat;
    background-size: cover;
}

#head{
  height: 20%;
  width: 100%;
  font-size: 0px;
}

#body{
  height:70%;
  width:100%;
}

#logout{
  background-color: rgba(152,152,152,0);
    border-style: none;
    margin-left: 85%;
    color: white;
    font-family: "Arial Black";
    font-size: 15px;
}

#logoSmall{
    height: 5rem;
    position: relative;
    left: 5rem;
    float:left;
}

#title{
    color:#fff;
    height: 5rem;
    width: 10rem;
    position: relative;
    left: 6rem;
    margin-top: 10px;
    font-size: 50px;
    font-family: "Arial Black";
}

#left{
  float: left;
  position: relative;
  left:8rem;
  height: 25rem;
  width: 40rem;
  margin:1rem;
}

#right{
  float:left;
  position: relative;
  left:8rem;
  height:25rem;
  width: 40rem;
  margin: 0;
  margin:1rem;
}

.subTitile{
  color: white;
  font-size: 1.3rem;
  position: relative;
}

#billboard{
    height: 100%;
    width: 100%;
    background-color: rgba(256,256,256,0);
    padding: 0rem;;
    margin-top: 0rem;
}

.msg{
    width: 90%;
    height: 10%;
    font-size: 1.0rem;
    color: black;
}

/* .delete{
  height: 1.5rem;
  position: relative;
  right:30%;
  float:right;
} */

table{
  width: 100%;
  height: auto;
}

#add{
  height: 2.5rem;
  left:34.5rem;
  top:21rem;
}
#reportInfo{
    background-color: rgba(255,255,255,0.6);
    height: 50%;
    width: 90%;
    padding: 0.5rem;;
    margin-top: 1rem;
}
#alarm{
    position: absolute;
    height:5rem;
    top:25rem;
    left:35rem;
}
.facility{
    width: 25%;
    text-align: center;
}
.notes{
  width: 35%;
  text-align: center;
}
.room{
  width: 20%;
  text-align: center;
}
.done{
  width:5%;
  text-align: center;
}

#submitBtn{
  height:2rem;
  width: 5rem;
  background-color: rgb(28,95,110);
  color: white;
  font-size: 0.8rem;
  font-family:  "Arial Rounded MT Bold";
  border-radius: 15px;
  border-top-style: none;
  border-right-style: none;
  border-left-style: none;
  border-bottom-style: none;
  left:-0.8rem;
  top:21.2rem;
}

#textField{
  height: 100%;
  width: 100%;
  background-color: rgba(256,256,256,0);
  margin-top: 1rem;
}

#newMsgF{
  height: 100%;
  width: 100%;
  margin: 0;
}

.show{
    display: block;
}

.hide{
    display: none;
}

.float{
  position:absolute;
  z-index: 10;
}

#msgInput{
  height: 100%;
  width: 100%;
  background-color: rgba(256,256,256,0);
  font-family: "Arial Bold";
  font-size: 0.8rem;
  margin: 0;
  padding: 0;
  border: none;
}
#msgInput::placeholder{
    font-family: "Arial Bold";
    font-size: 0.8rem;
    color: rgb(104,104,104);
}

#content{
    background-color: rgba(255,255,255,0.6);
    height: 80%;
    width: 90%;
}

#userInfoBtn{
    margin-top: 5%;
    color: white;
    font-size: 1rem;
    font-family: "Arial Bold";
    font-weight: bolder;

}

#msgTable{
  padding: 0.5rem;
  height: 100%;
  width: 100%;
}

#msgTable tr{
  margin-top: 0.2rem;
}

#msgTable .index{
  height:100%;
  width: 3%;
}

#msgTable .msg{
  height:100%;
  width: 75%;
}

#msgTable .date{
  height:100%;
  width: 10%;
}

#msgTable .deleteBtn{
  height:100%;
  width: 15%;
}

.btn{
  background-color: black;
  color: white;
  border-radius: 5px;
  border: none;
}

.waitingConf{
  color: rgb(104,104,104);
  font-size: 0.8rem;

}
